@font-face { 
  font-family: 'Super Childish'; 
  src: url('/fonts/SuperChildish.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

* {
  box-sizing: border-box;
  font-weight: 300;

}

#b{
  justify-items: center;
}